.card-wrp
{
    display: flex;
    justify-content: space-evenly;
}

.card-content
{
    background-color: #F3F3F3;
    border-radius: 20px;
    width: 25%;
    box-shadow: 2.5px 5px 5px 2.5px #DED2D2;
}

.card-content:hover
{
    box-shadow: 2.5px 5px 5px 2.5px #A69E9E;
}

.card-picture
{
    margin-bottom: 15px;
    padding: 10px;
}

.card-picture img
{
    max-width: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.card-name
{
    font-size: 26px;
    font-weight: 900;
    margin-bottom: 15px;
    padding: 10px;
}

.card-describe
{
    letter-spacing: 0.8px;
    word-spacing: 4px;
    font-size: 20px;
    padding: 10px;
}